
<div class="container" data-hook="product_right_part">
  <div data-hook="product_right_part_wrap">
    <div id="product-description" data-hook="product_description">
      <h1 class="product-title" itemprop="name">Help and FAQ</h1>
      <div class="row">
        <div class="col-md-6">
      <div class="well" itemprop="description" data-hook="description">
        <h4>How can I change my shipping address?</h4>
          <p>By default, the last used shipping address will be saved into your Sample Store account. When you are checking out your order, the default shipping address will be displayed and you have the option to amend it if you need to.</p>
        <h4>How do I activate my account?</h4>
          <p>The instructions to activate your account will be sent to your email once you have submitted the registration form. If you did not receive this email, your email service provider’s mailing software may be blocking it. You can try checking your junk / spam folder or contact us at help@samplestore.com</p>
        <h4>What do you mean by points? How do I earn it?</h4>
          <p>Because you are important to us, we want to know what you think about the products. As an added value, every time you rate the products you earn points which go straight to your account. 1 point is added to your account for every review that you give. You will need those points in order to redeem the sample products. So keep rating the products to keep earning points!</p>
        <h4>Why is there a checkout limit? / What are all the checkout limits?</h4>
        <p>Sample Store is a popular spot and gets lots of shoppers at a time. These limits are in place to make sure everyone has a good time trying and purchasing their products. So...</p>
        <ul>
          <li> Each account is entitled to only one (1) order of up to 4 different samples per day</li>
          <li> Each account is entitled to only one (1) redemption per sample.</li>
          <li> Your account must have sufficient points before you can checkout the sample products.</li>
          <li> Kindly clear all pending payments before another checkout.</li>
        </ul>
        <h4>How can I track my orders &amp; payment?</h4>
          <p>After logging into your account, the status of your checkout history can be found under Order History. (article tracking number) will be given to you after the receipt given from to us from the carrier</a>.</p>
        <h4>How do I cancel my orders before I make a payment?</h4>
          <p>After logging into your account, go to your Shopping Cart. Here, you will be able to make payment or cancel your order. Note: We cannot give refunds once payment is verified.</p>
        <h4>How long will it take for my order to arrive after I make payment?</h4>
          <p>Average time for delivery in the continential US is between 12 to 20 days. if you made your order from outside the US, you can expect a waiting time frame between 2 to 4 weeks from the date you made your order.</p>
          <p>If you experience delays in receiving your order, contact us immediately and we will help to confirm the status of your order.</p>
        <h4>What is the accumulated delivery fee for? How much is the handling fee?</h4>
          <p>The flat-rate handling fee is <span>S$5.99</span> and it is only applicable to normal samples. For free samples, they are fully paid for and there are no additional charges to deliver the free samples.</p>
          <p>Handling fee covers the delivery, material, labour and logistics cost to support the sampling service. You can redeem up to 4 different samples in each checkout and it is likely that you will find samples bundle with larger supply (up to 1-week supply) on Samplestore.com.</p>
        <h4>What are the payment methods available?</h4>
        <p>At the moment, we only accept Credit/Debit cards and Paypal payments.</p>
        <h4>Can I pay using Paypal without a Paypal account?</h4>
        <p>Yes! It is commonly misunderstood that a Paypal account is needed in order to make payments through Paypal. The truth is you DO NOT need one, although we strongly recommend you sign up to enjoy the added ease of use.</p>
        <p>Without a Paypal account, all you need is any Debit/Credit card stated below that is supported by Paypal.</p>
        <p>By using Paypal, we can process &amp; deliver your orders to you in a shorter time. Paypal is the easiest &amp; most secure way to make payment online. No account needed.</p>
        <p>For more details, <a href="https://www.paypal.com/sg/webapps/mpp/how-paypal-works" target="_blank">click here</a> to see how Paypal works for you.</p>
      </div>
      </div>
      <div class="col-md-6">
      <div class="well" itemprop="description" data-hook="description">

        <h4>Why must I make payment immediately at checkout?</h4>
        <p>Sample ordering is on ‘first-come-first-served’ basis. To ensure that you get your desired samples, it is recommended that you make your payment within 60 minutes of checking out.</p>
        <h4>How many free samples can I redeem?</h4>
        <p>Due to the limited quantity, each member's account is only entitled to 1 unique free sample. You can check out up to 4 free samples in each checkout.</p>
        <h4>What happens if there's been a delivery mishap to my order? (Damaged or lost delivery)</h4>
        <p>We take such matters very seriously and will look into individual cases thoroughly. Any sample that falls under the below categories should not be thrown away before taking photo proof and emailing the photo of the affected sample and your D.O (Delivery Order) to us at help@samplestore.com (if applicable).</p>
        <p>We regret to inform you that no refunds will be given for orders that fall under the below categories.</p>
        <p>1. In the event of damaged samples received, we will require photo proof of the affected samples and your D.O (Delivery Order) in order for us to investigate and review before a decision is made to re-send the sample to you at no cost, subject to availability. In light of this, any sample that falls into this category should not be thrown away before taking photo proof and emailing the photo to us at help@samplestore.com</p>
        <p>2. In the event of lost mail, we will try to locate the delivery team in Singpost and if there's a clear indication that your order is indeed lost, we'll re-send the order to you at no cost, subject to availability.</p>
        <h4>What happens in the event of unsatisfactory/expired/wrong sample/missing samples?</h4>
        <p>We take such matters very seriously and will look into individual cases thoroughly. Any sample that falls under the below categories should not be thrown away before taking photo proof and emailing the photo of the affected sample and your D.O (Delivery Order) to us at help@samplestore.com (if applicable).</p>
        <p>We regret to inform you that no refunds will be given for orders that fall under the below categories.</p>
        <p>1. In the event that the sample you've received is unsatisfactory in any way you perceive, we will require photo proof of the sample and your D.O (Delivery Order) as well and you may be required to send us back the sample for close inspection and review before a decision is made to re-send a sample to you at no cost, subject to availability. The postage cost will be credited back to your account after we receive the returned item.</p>
        <p>2. In the event that you receive an expired product, we will require clear photo proof of the sample and its expiry date for close inspection and review before a decision is made to re-send a sample to you at no cost, subject to availability.</p>
        <p>3. In the event that you've received the wrong sample, we will require photo proof of the wrongly sent sample and D.O (Delivery Order) and after reviewing, we'll re-send the correct sample to you at no cost, subject to availability.</p>
        <p>4. In the event you've received your order with a missing sample, we will require you to email us a clear photo proof of your D.O (Delivery Order) to help@samplestore.com and after which, kindly give us a call at (+65) 64367228 and our customer service officer will attend to you to find out more before a decision is made to re-send the missing sample to you at no cost, subject to availability.</p>
        <h4>I am having problems accessing Sample Store. Some of the pages look weird. Am I using the right browser?</h4>
        <p>As Sample Store uses some of the latest graphics designs which may not be supported in lower version of browsers, it is recommended that you use the following browsers to access Sample Store:</p>
        <p>1. Microsoft Internet Explorer Version 10 onwards. Download the latest Microsoft Internet Explorer at: <a target="_blank" href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">http://windows.microsoft.com/en-us/internet-explorer/download-ie </a></p>
        <p>2. Mozilla Firefox Version 10 onwards. Download the latest Mozilla Firefox at: <a target="_blank" href="https://www.mozilla.org/en-US/firefox/new/">https://www.mozilla.org/en-US/firefox/new/ </a></p>
        <p>3. Google Chrome Version 12 onwards. Download the latest Google Chrome at: <a target="_blank" href="https://www.google.com/chrome/browser/desktop/">https://www.google.com/chrome/browser/desktop/ </a></p>
        <p>In addition, please ensure that your Javascript and Cookie is enabled on your browser.</p>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>
